/* start global rules */

html {
    scroll-behavior: smooth;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width : 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width : 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width : 1200px) {
    .container {
        width: 1170px;
    }
}

/* end global rules */

/* start variables  */
:root {
    --section-background: : #f6f6f6;
    --main-color: rgb(255 68 0 / 84%);
    --p-color: #777;
    --header-color: #ebeced;
    --main-transition: .5s;
    --section-padding: 60px;
    --section-background: #f6f6f6;
}

/* end variables  */

/* start Global component */

.special-heading {
    color: var(--header-color);
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -2px;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media(max-width : 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin: -20px 0 0 0;
    }
}

/* end Global component */


/* start header */
.header {
    padding: 20px;
    position: absolute;
    left: 0;
    width: 100%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .image {
    width: 200px;
    height: 70px;
}

.header .links .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30px;
}

.header .links:hover .icons span:nth-child(2) {
    width: 100%;
}

.header .links .icons span {
    background-color: var(--section-background);
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icons span:first-child {
    width: 100%;
}

.header .links .icons span:nth-child(2) {
    width: 60%;
    transition: 0.5s;
}

.header .links .icons span:last-child {
    width: 100%;
}

.header .links {
    position: relative;
}

.header .links:hover ul {
    display: block;
}

.header .links ul {
    position: absolute;
    list-style: none;
    background-color: var(--main-color);
    margin: 0px;
    padding: 0px;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
}

.header .links ul::before {
    content: "";
    border-width: 15px;
    border-color: transparent transparent var(--main-color) transparent;
    border-style: solid;
    position: absolute;
    right: 0px;
    top: -30px;
}


.header .links li a {
    padding: 15px;
    display: block;
    text-decoration: none;
    color: var(--section-background);
    transition: var(--main-transition);
}

.header .links li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.header .links li a:hover {
    padding-left: 25px;
}

/* end header */

/* start landing */
.landing {
    background-image: url(../img/land.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: -2;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /50%);
}

.landing .into_text {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    color: var(--section-background);
    text-align: center;
    width: 400px;
    max-width: 100%;
}

.landing .into_text h1 {
    font-weight: bold;
    font-size: 70px;
    margin: 0;
}

.landing .into_text p {
    font-size: 17px;
    line-height: 1.4;
}

.landing .into_text input {
    padding: 10px 40px;
    background-color: var(--main-color);
    color: var(--section-background);
    border: none;
    margin-top: 15px;
}

/* end landing */


/* start features */

.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat {
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.features .feat i {
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 30px;
    color: var(--main-color);
}

.features .container .feat:first-child i {
    border-color: var(--main-color);
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0 20px;
}

.features .feat p {
    line-height: 1.6;
    color: #777;
    font-size: 17px;
}

/* end features */

/* Start Services */

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .container {
    padding-left: 15px;
    padding-right: 15px;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}

.services .services-content .ser {
    display: flex;
    margin-bottom: 40px;
}

.services .services-content .ser i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .ser .text {
    flex: 1;
}

.services .services-content .ser .text h3 {
    margin: 0 0 20px;
}

.services .services-content .ser .text p {
    color: var(--p-color);
    font-weight: 300;
    line-height: 1.6;
}

.services .services-content .image {
    position: relative;
    text-align: center;

}

.services .services-content .image img {
    width: 280px;
}

.services .services-content .image::before {
    content: "";
    background-color: var(--main-color);
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    position: absolute;
    z-index: -1;
}

.services .services-content .image::after {
    content: "";
    position: absolute;
    left: 40px;
    top: 0px;
    width: calc(100% - 80px);
    height: 99%;
    background-color: rgb(0 0 0 / 20%);
}


@media (max-width: 767px) {

    .services .services-content .ser {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:991px) {
    .services {
        padding-bottom: 0px;
    }

}

@media (max-width: 1199px) {
    .services .services-content .image {
        display: none;
    }
}

/* End Services */

/* start article */
.article {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 20px);
    background-color: var(--section-background);
}

.article .article_content {
    margin-top: 80px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.article .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}

.article .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.article .box img {
    max-width: 100%;
}

.article .box .content {
    padding: 20px;
}

.article .box .content h3 {
    margin: 0px;
}

.article .box .content p {
    margin: 10px 0 0 0;
    line-height: 1.5;
    color: #777;
}

.article .box .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 1px solid rgb(230, 230, 231);
}

.article .box .info a {
    color: var(--main-color);
    font-weight: bold;
    text-decoration: none;
}

.article .box .info i {
    color: var(--main-color);
}

.article .box:hover .info i {
    animation: moving-arrow 0.6s linear infinite;
}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}

/* end article */

/* start About */

.About {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about-content {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.about-content .about-img {
    position: relative;
    width: 250px;
    height: 375px;
}

.about-content .about-img::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
}


.about-content .about-img::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about-content .about-img img {
    max-width: 100%;
}


.about-content .about_text {
    flex-basis: calc(100% - 500px);
}

.about-content .about_text p:first-child {
    font-weight: bold;
}

.about-content .about_text p {
    color: var(--p-color);
    line-height: 1.6;
}

.about-content .about_text hr {
    width: 50%;
    margin-top: 20px;
    display: inline-block;
    border-color: var(--main-color);
}


.about-content .about_text input {
    padding: 10px 40px;
    background-color: var(--main-color);
    color: var(--section-background);
    border: none;
    border-radius: 10px;
    margin-top: 15px;
}

@media (max-width:991px) {

    .about-content .about-img::before,
    .about-content .about-img::after {
        display: none;
    }

    .about-content .about_text {
        margin-top: 50px;
        flex-basis: 100%;
    }

    .about-content {
        text-align: center;
        justify-content: center;
    }

    .about-content {
        margin-top: 50px;

    }
}


/* end About */

/* start footer */

.footer {
    padding: 70px 0 30px 0;
    background-color: #eff1f6;
}

.footer .container .contennt {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    border-bottom: 1px solid #585858;
    padding-bottom: 40px;
}

.footer .box-foot .p {
    color: #585858;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-foot img {
    max-width: 50%;
}

.box-foot .go {
    color: var(--main-color);
    font-weight: 900;
}

.box-foot .links {
    margin-top: 20px;
    color: #585858;
}

.box-foot .links li {
    margin-top: 10px;
}

.box-foot .info a {
    color: var(--main-color);
    font-weight: bold;
    text-decoration: none;
}

.box-foot .info i {
    color: var(--main-color);
    animation: moving-arrow 0.6s linear infinite;

}


.box-foot .links li a {
    color: #585858;
    text-decoration: none;
}

.box-foot .line {
    display: flex;
    margin-top: 20px;
    gap: 30px;
}

.box-foot .line i {
    color: #2d6ef1;
}

.box-foot .line .info {
    color: #585858;
}

.footer .feet {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.footer .feet .owner {
    color: #585858;
    font-size: 15px;
}

@media (max-width: 600px) {
    .footer .feet {
        flex-direction: column;
    }

    .footer .feet .owner {
        margin-top: 20px;
        text-align: center;
    }

    .footer .box-foot {
        text-align: center;
    }

    .footer .box-foot .social {
        justify-content: center;
    }

    .box-foot .line {
        gap: 10px;
        justify-content: center;
    }

    .box-foot .info i {
        display: none;
    }
}

/* end footer */